*{
  font-family: 'Poppins', sans-serif;
}
body{

}
/* COLOR HEADER */
header nav.bg-light {
  background-color: #562C2C !important;
}
/* COLOR LOGO */
.navbar-light .navbar-brand {
  color: #127475;
  text-transform: uppercase;
  font-weight: bold;
}
h5, h6{
  color:#E56B6F;
}

/* FOOTER */
footer{
  background-color: #562C2C;
}
footer div.footer-copyright{
  color: #E56B6F;
  background-color: #462323;
}
/* LOGOS FOOTER */
i{
  color: #E56B6F;
}
/* ENLACES */
a{
  text-transform: uppercase;
  font-weight: bold;
  color: #127475;
}
