header nav.bg-light {
  background-color: #562C2C !important;
}
*{
  font-family: 'Poppins', sans-serif;
}
/* COLOR LOGO */
.navbar-light .navbar-brand {
  color: #127475;
  text-transform: uppercase;
  font-weight: bold;
}
/* COLOR LINKS */
.navbar-light .navbar-nav .nav-link {
  color: #E56B6F;
  text-transform: uppercase;
}
/* HEADER LOGIN */
.modal-header{
  background-color: #562C2C;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
/* COLOR BOTONES */
.btn-outline-dark {
  color: #FFF;
  background-color: #E56B6F;
  border-color: #E56B6F;
}
.btn-outline-dark:hover{
  background-color: #BD575A;
  border-color: #BD575A;
}
.btn-outline-dark:target{
  background-color: #BD575A;
  border-color: #BD575A;
}
.modal-title{
  color: #E56B6F;
}
a:not([href]):not([tabindex]){
  color: #FFF;
}
a:not([href]):not([tabindex]):hover{
  color: #FFF;
}
.titulo{
 background-color: #f2542d;
}
h1{
  font-family: 'Hind', sans-serif;
  height: 100px;
}
#pregunta1{
background-color: #ffa3af;
font-family: 'Hind', sans-serif;
}
#pregunta2{
  background-color: #ffa3af;
  font-family: 'Hind', sans-serif;
}
#pregunta3{
  background-color: #ffa3af;
  font-family: 'Hind', sans-serif;
}
#headingOne{
background-color: #97d8c4;
}
#headingTwo{
background-color: #00af54;
}
#headingThree{
background-color: #fbaf00
}
/* FOOTER */
footer{
  background-color: #562C2C;
}
footer div.footer-copyright{
  color: #E56B6F;
  background-color: #462323;
}
i{
  color: #E56B6F;
}
/* ENLACES */
a{
  color: #127475;
}
