body{
  margin: 0px;
  display: flex;
}
header{
  margin-left: : 0px;
  background-color: #b56576;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.rst{
  background-color: #b56576;
}
.logo{
  margin-top: 20px;
  width: 80%;
  display: flex;
  margin-left: 10%;
  background-color: #127475;
  justify-content: center;
}

.reg-or-log{
  margin-right: 30px;
  list-style-type: none;
    margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Hind', sans-serif;
  background-color: #ffa3af;
  border-radius: 40px;
  text-align: center;
}
.re-o-lo{
  margin: auto;
}
.hiper{
  color: black;
}
.titulo{
 background-color: #f2542d;
}
h1{
  font-family: 'Hind', sans-serif;
  height: 100px;
}
#pregunta1{
background-color: #ffa3af;
font-family: 'Hind', sans-serif;
}
#pregunta2{
  background-color: #ffa3af;
  font-family: 'Hind', sans-serif;
}
#pregunta3{
  background-color: #ffa3af;
  font-family: 'Hind', sans-serif;
}
#headingOne{
background-color: #97d8c4;
}
#headingTwo{
background-color: #00af54;
}
#headingThree{
background-color: #fbaf00
}
