*{
  font-family: 'Poppins', sans-serif;
}

/* COLOR HEADER */
header nav.bg-light {
  background-color: #562C2C !important;
}
/* COLOR LOGO */
.navbar-light .navbar-brand {
  color: #127475;
  text-transform: uppercase;
  font-weight: bold;
}
/* COLOR LINKS */
.navbar-light .navbar-nav .nav-link {
  color: #E56B6F;
  text-transform: uppercase;
}
/* COLOR BOTONES */
.btn-outline-dark {
  color: #FFF;
  background-color: #E56B6F;
  border-color: #E56B6F;
}
.btn-outline-dark:hover{
  background-color: #BD575A;
  border-color: #BD575A;
}
.btn-outline-dark:target{
  background-color: #BD575A;
  border-color: #BD575A;
}
a:not([href]):not([tabindex]){
  color: #FFF;
}
a:not([href]):not([tabindex]):hover{
  color: #FFF;
}
#carrito{
  color: #FFF;
}
/* HEADER LOGIN */
.modal-header{
  background-color: #562C2C;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.modal-title{
  color: #E56B6F;
}
ul{
  list-style: none;
}

div .botondireccion{
  flex-direction: column;
}
div ul .list-group{
  padding-left: 15px;
}
.boton-session{
  padding:.25rem !important;
  width: 40px !important;
  height: 40px !important;
  border: 0 !important;
  border-radius: 100% !important;

}
