

form{
  padding: 10px;
}
/* TITULOS */
h1.col-md-12{
  padding: 2vh;
  color: #127475;
  margin-bottom: 0px;
  background-color: #462323;
}
h5.col-md-12{
  padding: 2vh;
  color: #E56B6F;
  background-color: #562C2C;
}

#section{background-color: #F5DFBB;}
/* FOOTER */
footer{
  background-color: #562C2C;
}
footer div.footer-copyright{
  color: #E56B6F;
  background-color: #462323;
}
