body {
  font-family: Lato;
  background-color: #F3A2AE;
  margin: 0, auto;
  padding-top: 50px;
padding-right: 50px;
padding-bottom: 50px;
padding-left: 50px;
  box-sizing: border-box;

}
p{
  font-size: 11px;
  font-weight:300;
}
p a {
  color: #EA5539;
}

.btn-ttc,
.btn-ttc:hover,
.btn-ttc:active {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #EA5539;
  margin: 0, auto;
  justify-content: center;
  }
