/* ESCRITORIO */
@media only screen and (min-width: 768px) and (max-width: 2560px) {
  body {
    background-color: #F5DFBB;
    margin: 0px; }
  .contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .contenedor .menu {
      position: fixed;
      background-color: #562C2C;
      width: 20%;
      height: 100vh; }
      .contenedor .menu header .encabezado {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .contenedor .menu header .encabezado h1 {
          margin: 6px 0px 4px 0px;
          text-transform: uppercase;
          font-size: 40px;
          font-weight: bold;
          color: #124745; }
        .contenedor .menu header .encabezado ul {
          width: 90%;
          margin: 0px;
          padding: 0px;
          list-style-type: none; }
          .contenedor .menu header .encabezado ul li {
            text-align: center;
            text-transform: uppercase;
            background-color: #E56B6F;
            border-radius: 15px;
            margin: 10px 0px 10px 0px;
            padding: 0px 40px 0px 40px; }
            .contenedor .menu header .encabezado ul li a {
              text-decoration: none;
              color: #FFF; }
        .contenedor .menu header .encabezado img {
          width: 60%;
          border-radius: 100%;
          margin-top: 10px; }
        .contenedor .menu header .encabezado h5 {
          margin: 10px 0px 10px 0px;
          color: #FFF; }
        .contenedor .menu header .encabezado button {
          background-color: #F2542D;
          width: 40%;
          border: none;
          border-radius: 25px;
          padding: 6px 12px 6px 12px;
          margin-bottom: 20px;
          color: #124745; }
        .contenedor .menu header .encabezado iframe {
          width: 90%; }
    .contenedor .productos {
      margin-left: 20%;
      width: 80%;
      height: 200px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .contenedor .productos .seccionesUno {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .contenedor .productos .seccionesUno .deco {
          margin: 0px;
          padding: 0px;
          width: 100%;
          height: 3vh;
          background-color: #124745;
          -webkit-transition: height 2s;
          -o-transition: height 2s;
          transition: height 2s; }
        .contenedor .productos .seccionesUno .deco:active {
          height: 68vh; }
        .contenedor .productos .seccionesUno .off {
          margin: 0px;
          padding: 0px;
          width: 100%;
          background-color: #124745;
          border-right: 512px solid #F5DFBB;
          border-left: 512px solid #F5DFBB;
          border-top: 20vh solid transparent; }
        .contenedor .productos .seccionesUno .parallax {
          font-size: 50px;
          margin: 10px 0px 10px 0px;
          color: #FFF;
          padding-left: 7px;
          background-image: url(../img/zapallo.jpeg);
          min-height: 60px;
          background-attachment: fixed;
          background-position: bottom;
          background-repeat: no-repeat;
          background-size: cover; }
        .contenedor .productos .seccionesUno .primersection {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .contenedor .productos .seccionesUno .primersection a {
            color: #000;
            text-decoration: none; }
          .contenedor .productos .seccionesUno .primersection article {
            background-color: rgba(255, 255, 255, 0.4);
            margin: 5px;
            padding: 5px;
            -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2);
            box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2); }
            .contenedor .productos .seccionesUno .primersection article img {
              width: 100%; }
      .contenedor .productos .seccionesDos {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .contenedor .productos .seccionesDos .parallaxdos {
          font-size: 50px;
          margin: 10px 0px 10px 0px;
          color: #FFF;
          padding-left: 7px;
          background-image: url(../img/postres.jpeg);
          min-height: 60px;
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; }
        .contenedor .productos .seccionesDos .segundasection {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .contenedor .productos .seccionesDos .segundasection a {
            color: #000;
            text-decoration: none; }
          .contenedor .productos .seccionesDos .segundasection article {
            background-color: rgba(255, 255, 255, 0.4);
            margin: 5px;
            padding: 5px;
            -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2);
            box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2); }
            .contenedor .productos .seccionesDos .segundasection article img {
              width: 100%; }
      .contenedor .productos .seccionesTres {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .contenedor .productos .seccionesTres .parallaxtres {
          font-size: 50px;
          margin: 10px 0px 10px 0px;
          color: #FFF;
          padding-left: 7px;
          background-image: url(../img/comidaTres.jpeg);
          min-height: 60px;
          background-attachment: fixed;
          background-position: bottom;
          background-repeat: no-repeat;
          background-size: cover; }
        .contenedor .productos .seccionesTres .tercerasection {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .contenedor .productos .seccionesTres .tercerasection a {
            color: #000;
            text-decoration: none; }
          .contenedor .productos .seccionesTres .tercerasection article {
            background-color: rgba(255, 255, 255, 0.4);
            margin: 5px;
            padding: 5px;
            -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2);
            box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2); }
            .contenedor .productos .seccionesTres .tercerasection article img {
              width: 100%; }
      .contenedor .productos footer {
        background-color: blue;
        width: 80%;
        height: 5vh; } }

/* TABLETS */
@media only screen and (min-width: 550px) and (max-width: 1024px) {
  body {
    background-color: #F5DFBB;
    margin: 0px; }
  .contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .contenedor .menu {
      position: fixed;
      background-color: #562C2C;
      width: 20%;
      height: 100vh; }
      .contenedor .menu header .encabezado {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .contenedor .menu header .encabezado h1 {
          margin: 6px 0px 4px 0px;
          text-transform: uppercase;
          font-size: 40px;
          font-weight: bold;
          color: #124745; }
        .contenedor .menu header .encabezado ul {
          width: 90%;
          margin: 0px;
          padding: 0px;
          list-style-type: none; }
          .contenedor .menu header .encabezado ul li {
            text-align: center;
            text-transform: uppercase;
            background-color: #E56B6F;
            border-radius: 15px;
            margin: 10px 0px 10px 0px;
            padding: 0px 40px 0px 40px; }
            .contenedor .menu header .encabezado ul li a {
              font-size: 10px;
              text-decoration: none;
              color: #FFF; }
        .contenedor .menu header .encabezado img {
          width: 60%;
          border-radius: 100%;
          margin-top: 10px; }
        .contenedor .menu header .encabezado h5 {
          font-size: 15px;
          margin: 10px 0px 10px 0px;
          color: #FFF; }
        .contenedor .menu header .encabezado button {
          background-color: #F2542D;
          width: 40%;
          font-size: 14px;
          border: none;
          border-radius: 25px;
          padding: 4px 15px 4px 15px;
          margin-bottom: 20px;
          color: #124745; }
        .contenedor .menu header .encabezado iframe {
          width: 90%; }
    .contenedor .productos {
      margin-left: 20%;
      width: 80%;
      height: 200px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .contenedor .productos .deco {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 3vh;
        background-color: #124745;
        -webkit-transition: height 2s;
        -o-transition: height 2s;
        transition: height 2s; }
      .contenedor .productos .deco:active {
        height: 68vh; }
      .contenedor .productos .off {
        margin: 0px;
        padding: 0px;
        width: 100%;
        background-color: #124745;
        border-right: 300px solid #F5DFBB;
        border-left: 300px solid #F5DFBB;
        border-top: 20vh solid transparent; }
      .contenedor .productos .seccionesUno {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .contenedor .productos .seccionesUno .parallax {
          font-size: 50px;
          margin: 10px 0px 10px 0px;
          color: #FFF;
          padding-left: 7px;
          background-image: url(../img/zapallo.jpeg);
          min-height: 60px;
          background-attachment: fixed;
          background-position: bottom;
          background-repeat: no-repeat;
          background-size: cover; }
        .contenedor .productos .seccionesUno .primersection {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; }
          .contenedor .productos .seccionesUno .primersection a {
            color: #000;
            text-decoration: none; }
          .contenedor .productos .seccionesUno .primersection article {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            background-color: rgba(255, 255, 255, 0.4);
            margin: 5px;
            padding: 5px;
            -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2);
            box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2); }
            .contenedor .productos .seccionesUno .primersection article img {
              width: 30%;
              margin-right: 10px; }
      .contenedor .productos .seccionesDos {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .contenedor .productos .seccionesDos .parallaxdos {
          font-size: 50px;
          margin: 10px 0px 10px 0px;
          color: #FFF;
          padding-left: 7px;
          background-image: url(../img/postres.jpeg);
          min-height: 60px;
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; }
        .contenedor .productos .seccionesDos .segundasection {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; }
          .contenedor .productos .seccionesDos .segundasection a {
            color: #000;
            text-decoration: none; }
          .contenedor .productos .seccionesDos .segundasection article {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            background-color: rgba(255, 255, 255, 0.4);
            margin: 5px;
            padding: 5px;
            -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2);
            box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2); }
            .contenedor .productos .seccionesDos .segundasection article img {
              width: 30%;
              margin-right: 10px; }
      .contenedor .productos .seccionesTres {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .contenedor .productos .seccionesTres .parallaxtres {
          font-size: 50px;
          margin: 10px 0px 10px 0px;
          color: #FFF;
          padding-left: 7px;
          background-image: url(../img/comidaTres.jpeg);
          min-height: 60px;
          background-attachment: fixed;
          background-position: bottom;
          background-repeat: no-repeat;
          background-size: cover; }
        .contenedor .productos .seccionesTres .tercerasection {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; }
          .contenedor .productos .seccionesTres .tercerasection a {
            color: #000;
            text-decoration: none; }
          .contenedor .productos .seccionesTres .tercerasection article {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            background-color: rgba(255, 255, 255, 0.4);
            margin: 5px;
            padding: 5px;
            -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2);
            box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2); }
            .contenedor .productos .seccionesTres .tercerasection article img {
              width: 30%;
              margin-right: 10px; }
      .contenedor .productos footer {
        background-color: blue;
        width: 80%;
        height: 5vh; } }

@media only screen and (min-width: 260px) and (max-width: 550px) {
  body {
    background-color: #F5DFBB;
    margin: 0px; }
  .contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .contenedor .menu {
      visibility: hidden;
      position: fixed;
      background-color: #562C2C;
      width: 2%;
      height: 100vh; }
      .contenedor .menu header .encabezado {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .contenedor .menu header .encabezado h1 {
          margin: 6px 0px 4px 0px;
          text-transform: uppercase;
          font-size: 40px;
          font-weight: bold;
          color: #124745; }
        .contenedor .menu header .encabezado ul {
          width: 90%;
          margin: 0px;
          padding: 0px;
          list-style-type: none; }
          .contenedor .menu header .encabezado ul li {
            text-align: center;
            text-transform: uppercase;
            background-color: #E56B6F;
            border-radius: 15px;
            margin: 10px 0px 10px 0px;
            padding: 0px 40px 0px 40px; }
            .contenedor .menu header .encabezado ul li a {
              font-size: 10px;
              text-decoration: none;
              color: #FFF; }
        .contenedor .menu header .encabezado img {
          width: 60%;
          border-radius: 100%;
          margin-top: 10px; }
        .contenedor .menu header .encabezado h5 {
          font-size: 15px;
          margin: 10px 0px 10px 0px;
          color: #FFF; }
        .contenedor .menu header .encabezado button {
          background-color: #F2542D;
          width: 40%;
          font-size: 14px;
          border: none;
          border-radius: 25px;
          padding: 4px 15px 4px 15px;
          margin-bottom: 20px;
          color: #124745; }
        .contenedor .menu header .encabezado iframe {
          width: 90%; }
    .contenedor .productos {
      width: 100%;
      height: 200px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .contenedor .productos .seccionesUno {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .contenedor .productos .seccionesUno .parallax {
          font-size: 33px;
          margin: 10px 0px 10px 0px;
          color: #FFF;
          padding-left: 7px;
          background-image: url(../img/zapallo.jpeg);
          min-height: 60px;
          background-attachment: fixed;
          background-position: bottom;
          background-repeat: no-repeat;
          background-size: cover; }
        .contenedor .productos .seccionesUno .primersection {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; }
          .contenedor .productos .seccionesUno .primersection a {
            color: #000;
            text-decoration: none; }
          .contenedor .productos .seccionesUno .primersection article {
            background-color: rgba(255, 255, 255, 0.4);
            margin: 5px;
            padding: 5px;
            -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2);
            box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2); }
            .contenedor .productos .seccionesUno .primersection article img {
              width: 100%; }
      .contenedor .productos .seccionesDos {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .contenedor .productos .seccionesDos .parallaxdos {
          font-size: 33px;
          margin: 10px 0px 10px 0px;
          color: #FFF;
          padding-left: 7px;
          background-image: url(../img/postres.jpeg);
          min-height: 60px;
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; }
        .contenedor .productos .seccionesDos .segundasection {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; }
          .contenedor .productos .seccionesDos .segundasection a {
            color: #000;
            text-decoration: none; }
          .contenedor .productos .seccionesDos .segundasection article {
            background-color: rgba(255, 255, 255, 0.4);
            margin: 5px;
            padding: 5px;
            -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2);
            box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2); }
            .contenedor .productos .seccionesDos .segundasection article img {
              width: 100%; }
      .contenedor .productos .seccionesTres {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .contenedor .productos .seccionesTres .parallaxtres {
          font-size: 33px;
          margin: 10px 0px 10px 0px;
          color: #FFF;
          padding-left: 7px;
          background-image: url(../img/comidaTres.jpeg);
          min-height: 60px;
          background-attachment: fixed;
          background-position: bottom;
          background-repeat: no-repeat;
          background-size: cover; }
        .contenedor .productos .seccionesTres .tercerasection {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; }
          .contenedor .productos .seccionesTres .tercerasection a {
            color: #000;
            text-decoration: none; }
          .contenedor .productos .seccionesTres .tercerasection article {
            background-color: rgba(255, 255, 255, 0.4);
            margin: 5px;
            padding: 5px;
            -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2);
            box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2); }
            .contenedor .productos .seccionesTres .tercerasection article img {
              width: 100%; }
      .contenedor .productos footer {
        background-color: blue;
        width: 80%;
        height: 5vh; } }
